/* .collection-container {
  display       : flex;
  flex-direction: column;
} */

.collection-status {
  height       : 46px;
  border-bottom: 1px solid var(--color-horLine);
}

.collection-nav {
  display        : flex;
  justify-content: space-around;
  font-size      : 1.2rem;
}

.collection-nav a {
  color         : var(--color-textTitle);
  text-transform: capitalize;
}

a.collection-navlink.activeNavLinks-collection {
  color: var(--color-activeLinksText);
}

.collection-list {
  margin-top: 16px;
  padding   : 0;
}

th {
  padding: 0;
}

td {
  line-height: 1.6rem;
}


.list-unit {
  display: block;
  margin : 0 auto;
}


.list-unit table {
  font-size: 1rem;
}

.list-unit-bar {
  position: relative;
}

.list-unit-bar select {
  position        : absolute;
  top             : 0;
  right           : 0;
  height          : inherit;
  background-color: transparent;
  color           : var(--color-textTitle);
  border          : none;
}

.list-unit-bar select option {
  color           : var(--color-textTitle);
  background-color: var(--color-activeLinksText);
}

.list-status-title {
  position        : relative;
  display         : table;
  background-color: var(--color-textTitleBG);
  width           : 100%;
  color           : var(--color-textInner);
  font-size       : 1.6rem;
  font-weight     : bold;
  text-align      : center;
  vertical-align  : middle;
  text-transform  : uppercase;
}



.list-table-header {
  color : var(--color-textTitle);
  height: 2.3rem;
}

.list-table-header .header-title {
  background    : var(--color-tableHeaderBG) url(../../../assets/bar-table-header-dark.png) no-repeat right 7px / 1px 22px;
  display       : table-cell;
  border-bottom : var(--color-horLine) 1px solid;
  text-align    : center;
  vertical-align: middle;
  font-weight   : normal;
}

.list-table-header .header-title:last-child {
  background: var(--color-tableHeaderBG);
}

.list-table-header .header-title.status {
  background-image: none;
  width           : 4px;
}

.list-table-header .header-title.number {
  width: 30px;
}

.list-table-header .header-title.image {
  width: 66px;
}

.list-table-header .header-title.title {
  padding-left: 8px;
  text-align  : left;
}

.list-table-header .header-title.score {
  width: 65px;
}

.list-table-header .header-title.type {
  width: 80px;
}

.list-unit table tr .title .title-inner {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

.list-unit table tr .image,
.list-unit table tr .title,
.list-unit table tr .score,
.list-unit table tr .type {
  color: var(--color-tableTextColor)
}

.list-unit table tr .title a:hover {
  color: var(--color-tableTextColorHover)
}