/* .collection-container {
  display       : flex;
  flex-direction: column;
} */

.collection-status {
  height       : 46px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--color-horLine);
}

.collection-nav ul {
  display        : flex;
  justify-content: space-around;
  font-size      : 1.2rem;
}

.collection-nav ul .collection-navlink {
  color         : var(--color-textTitle);
  text-transform: capitalize;
  transition    : color 200ms ease-in-out;
  position      : relative;
}

.collection-nav ul .collection-navlink:hover {
  color: var(--color-activeLinksText);
}

.collection-nav ul li .collection-navlink:after,
.collection-nav ul li .activeNavLinks-collection:after {
  content         : ' ';
  width           : 100%;
  height          : 0.2rem;
  position        : absolute;
  top             : 30px;
  left            : 0;
  transform       : scale(0, 0);
  transform-origin: center;
  background-color: var(--color-activeLinksText);
  transition      : all 300ms ease-in-out;
}

.collection-nav ul li:hover .collection-navlink:hover:after,
.collection-nav ul li .activeNavLinks-collection:after {
  transform: scale(1, 1);
}

.collection-nav ul a:hover,
.collection-nav ul li .activeNavLinks-collection {
  color: var(--color-activeLinksText);
}

.collection-list,
th {
  padding: 0;
}

td {
  line-height: 1.6rem;
}

.list-unit {
  display: block;
  margin : 0 auto;
}


.list-unit table {
  font-size: 1rem;
}

.list-unit-bar {
  position: relative;
}

.list-unit-bar select {

  height          : inherit;
  background-color: transparent;
  color           : var(--color-textTitle);
  border          : none;
}

.list-unit-bar select option {
  color           : var(--color-textTitle);
  background-color: var(--color-activeLinksText);
}

.list-status-title {
  padding         : 3px 0;
  position        : relative;
  display         : table;
  border-radius   : 5px;
  background-color: var(--color-textTitleBG);
  width           : 100%;
  color           : var(--color-textInner);
  font-size       : 1.6rem;
  font-weight     : bold;
  text-align      : center;
  vertical-align  : middle;
  text-transform  : uppercase;
}


.unit-actions-container {
  position   : absolute;
  height     : 100%;
  top        : 0;
  right      : 0;
  display    : flex;
  align-items: center;
}

.listCard {
  background: url(../../../assets/images/card/Data-List-icon.png);
  width     : 24px;
  height    : 24px;
}

.gridCard {
  background: url(../../../assets/images/card/grid-view.png);
  width     : 22px;
  height    : 22px;
}

.listCard,
.gridCard {
  margin           : 5px;
  background-size  : cover;
  background-repeat: no-repeat;
  filter           : invert(100%) sepia(2%) saturate(4%) hue-rotate(15deg) brightness(103%) contrast(100%);
  cursor           : pointer;
}

.listCard:hover,
.gridCard:hover,
.listCard-active,
.gridCard-active {
  filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(205deg) brightness(93%) contrast(95%);
}

.list-unit .movie-grid {
  margin-top: 20px;
}


/* List styles - table */
.list-unit table tr .title .title-inner {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

.list-unit table tr .image,
.list-unit table tr .title,
.list-unit table tr .score,
.list-unit table tr .type {
  color: var(--color-tableTextColor)
}

.list-unit table tr .title a:hover {
  color: var(--color-tableTextColorHover)
}




@media (max-width: 768px) {
  .collection-status {
    display: none;
  }
}


@media (max-width: 425px) {
  .list-status-title {
    padding   : 3px 10px;
    font-size : 1.3rem;
    text-align: left;
  }
}

@media (max-width: 375px) {
  .list-unit table {
    font-size: 0.75rem;
  }
}

@media (max-width: 320px) {}