/* collection nav style */
select.collection-nav-select {
  width           : 100%;
  display         : none;
  text-transform  : capitalize;
  color           : var(--color-textTitleBG);
  background-color: var(--color-textInner);
  margin          : 15px 0;
  font-size       : 1.3rem;
  border-radius   : 5px;
}

@media (max-width: 768px) {
  select.collection-nav-select {
    display: block;
  }
}

@media (max-width: 425px) {
  select.collection-nav-select {
    font-size: 1rem;
  }

  .list-unit select {
    height : 2rem;
    padding: 0 5px;
  }
}