.movie-grid {
  position             : relative;
  display              : grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows   : 30vh;
  grid-auto-rows       : 30vh;
  gap                  : 15px;
  align-self           : stretch;
}

.gridAnimate-enter {
  transform: scale(0, 0);
  opacity  : 0.01;
}

.gridAnimate-enter-active {
  opacity   : 1;
  transform : scale(1, 1);
  transition: all 300ms ease-in;
}

.gridAnimate-appear-done {
  transform: scale(0, 0);
  opacity  : 0.01;
}

.gridAnimate-enter-done {
  opacity   : 1;
  transform : scale(1, 1);
  transition: all 300ms ease-in;
}



.gridAnimate-exit {
  opacity  : 1;
  transform: scale(1, 1);
}

.gridAnimate-exit-active {
  opacity   : 0.01;
  transform : scale(0, 0);
  transition: all 300ms ease-in;
}

@media (max-width:1440px) {
  .movie-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows   : 23vw;
    grid-auto-rows       : 23vw;
  }
}

@media (max-width:1024px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows   : 27vw;
    grid-auto-rows       : 27vw;
  }
}


@media (max-width:768px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows   : 40vw;
    grid-auto-rows       : 40vw;
    gap                  : 15px;
  }
}

@media (max-width:481px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows   : 60vw;
    grid-auto-rows       : 60vw;
  }
}

@media (max-width: 320px) {
  .movie-grid {
    gap: 5px;
  }
}