.movie-grid {
  position             : relative;
  display              : grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows   : 15vw;
  grid-auto-rows       : 15vw;
  gap                  : 15px;
  align-self           : stretch;
}