.card-container-grid {
  display : grid;
  grid-gap: 15px;
}

.cards-title-info-container {
  display        : flex;
  width          : 100%;
  justify-content: space-between;
}

.currentyLoadedMedia {
  color      : var(--color-textTitle);
  margin     : 0;
  line-height: 1.5;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .cards-title-info-container {
    flex-direction: column;
  }

  .currentyLoadedMedia {
    align-self: center;
  }
}

@media (max-width: 320px) {
  .card-container-grid {
    grid-gap: 10px;
  }
}