.content-grid {
  display              : grid;
  grid-template-columns: 150px 1fr;
  grid-gap             : 15px;
}

.content-wrap:hover {
  background-color: var(--color-textHover);
}

.noResults {
  position : absolute;
  top      : 0;
  left     : 50%;
  transform: translate(-50%, -50%);
  color    : #ec407a;
}

@media only screen and (max-width:481px) {
  .content-grid {
    grid-template-columns: 1fr;
    margin               : 0 10px 0 15px;
  }
}