.content-wrapper {
    display: flex;
    flex-direction: column;
    width        : 100%;
  position: relative;
    /*min-height   : calc(100vh - 60px);*/
}

.content-wrapper .loading {
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 1;
}

.content-grid {
  display              : grid;
  grid-template-columns: 120px 1fr;
  padding-top          : 84px;
  padding-bottom       : 20px;
  width                : 100%;
  min-height           : calc(100vh - 60px);
  position             : relative;
}

.noResults {
  position : absolute;
  top      : 0;
  left     : 50%;
  transform: translate(-50%, -50%);
  color    : #ec407a;
}

.transitionModal {
  display        : flex;
  justify-content: center;
  align-items    : center;
  position       : fixed;
  top            : 50%;
  z-index        : 5;
  left           : 50%;
  transform      : translate(-50%, -50%);
  width          : initial;
  height         : auto;
}

@media (max-width: 1250px) {
  .transitionModal {
    width: max-content;
  }
}

@media (max-height: 450px) and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
  .content-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .content-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width:481px) {
  .content-grid {
    grid-template-columns: 1fr;
  }
}