.modal-info {
  position        : fixed;
  background-color: var(--color-BG);
  width           : 90%;
  height          : 95%;
  top             : 2.5%;
  left            : 5%;
  z-index         : 501;
  padding         : 10px;
  display         : flex;
  max-height      : 100%;
  flex-direction  : column;
  overflow        : scroll;
}

.info-wrapper {
  display: flex;
}

.card-image {
  margin   : 5px;
  width    : 100%;
  max-width: 300px;
  min-width: 250px;
}

.card-image img {
  width: 100%;
}

.movie-info-wrap {
  margin-left: 20px;
}

.releaseDate {
  font-size: 16px;
}

.card-main-title {
  text-align : center;
  font-size  : 30px;
  font-weight: 600;
  margin-top : 0;
}

.ratingAdd {
  display    : flex;
  align-items: center;
}

/* .ratingAdd p {
  margin-right: 30px;
} */

.material-icons:hover {
  cursor: pointer;
}

.genre {
  align-items: center;
}

.ratingAdd,
.genre,
.overwiev {
  border-top: 1px solid var(--color-horLine);
}

.ratingAdd .popularity,
.ratingAdd .votes {
  margin-left: 20px;
}

.collectionActions {
  justify-content: left;
  height         : 3em;
}

.collectionActions .select_mediaStatus {
  margin-left: 0;
}

.card-inner-title {
  font-size: 16px;
}

.card-inner-title span {
  margin-left: 10px;
  font-size  : 14px;
}

.btn_addMedia {
  background-color                     : var(--color-btnAddMedia);
  border                               : var(--color-btnAddMedia) 1px solid;
  border-radius                        : 4px;
  color                                : #fff !important;
  cursor                               : pointer;
  display                              : inline-block;
  font-family                          : Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
  font-size                            : 11px;
  line-height                          : 1.0em;
  /* margin                            : 0 12px; */
  opacity                              : 1;
  padding                              : 6px 12px 6px 12px;
  position                             : relative;
  text-align                           : left;
  text-decoration                      : none !important;
  -webkit-transition-duration          : .3s;
  transition-duration                  : .3s;
  transition-property                  : all;
  -webkit-transition-property          : all;
  -webkit-transition-timing-function   : ease-in-out;
  transition-timing-function           : ease-in-out;
  vertical-align                       : middle;
}

.select_mediaStatus,
.user-score {
  display         : inline-block;
  background-color: var(--color-BG-select);
  width           : auto;
  padding         : 1px;
  border          : 1px solid var(--color-activeLinks);
  border-radius   : 5px;
  height          : 60%;
  color           : var(--color-activeLinks);
  font-size       : 12px;
  margin-left     : 10px;
}

.user-score {
  /* appearance                        : none; */
  background-color                  : var(--color-BG-select);
  background-image                  : url(../../../assets/icon-star-score.png);
  background-position               : 6px 4px, 118px 8px;
  background-repeat                 : no-repeat, no-repeat;
  background-size                   : 14px 13px, 10px auto;
  border                            : 1px solid var(--color-userScoreDefault);
  border-radius                     : 4px;
  color                             : var(--color-userScoreEmpty);
  cursor                            : pointer;
  display                           : inline-block;
  font-family                       : Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
  font-size                         : 11px;
  opacity                           : 1;
  padding                           : 3px 6px 3px 20px;
  text-align                        : left;
  text-decoration                   : none;
  -webkit-transition-duration       : .3s;
  transition-duration               : .3s;
  -webkit-transition-property       : all;
  transition-property               : all;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function        : ease-in-out;
  vertical-align                    : middle;
  width                             : 138px;
}

/* userRating colors */

.rating_masterpiece,
.rating_great,
.rating_veryGood {
  border: 1px solid var(--color-tableCompleted);
  color : var(--color-tableCompleted);
}

.rating_good,
.rating_fine {
  border: 1px solid var(--color-statusWatching);
  color : var(--color-statusWatching);
}

.rating_average {
  border: 1px solid var(--color-tableOnHold);
  color : var(--color-tableOnHold);
}

.rating_bad,
.rating_veryBad {
  border: 1px solid var(--color-userScoreBadVerybad);
  color : var(--color-userScoreBadVerybad);
}

.rating_Horrible,
.rating_appalling {
  border: 1px solid var(--color-tableDropped);
  color : var(--color-tableDropped);
}

/* watchStatus colors */
.status_watching {
  border: 1px solid var(--color-statusWatching);
  color : var(--color-statusWatching);
}

.status_completed {
  border: 1px solid var(--color-tableCompleted);
  color : var(--color-tableCompleted);
}

.status_onHold {
  border: 1px solid var(--color-tableOnHold);
  color : var(--color-tableOnHold);
}

.status_dropped {
  border: 1px solid var(--color-tableDropped);
  color : var(--color-tableDropped);
}

.status_planToWatch {
  border: 1px solid var(--color-tablePlanToWatch);
  color : var(--color-tablePlanToWatch);
}

span.material-icons {
  display: flex;
}

.delete-media {
  margin-left: 20px;
}

/* .user-score option {
  margin : 0;
  padding: 0;
} */

.modal .modal-content {
  padding-bottom: 0;
}

.modal-wrapper {
  position        : absolute;
  top             : 50%;
  left            : 50%;
  transform       : translateX(50%);
  transform       : translateY(50%);
  z-index         : 110;
  background-color: var(--color-BG);
}

.card-info {
  font-size: 14.5px;
}

.rating {
  font-size: 18px;
}

.trailer {
  display        : flex;
  justify-content: space-evenly;
}

.similar-movies-wrapper {
  width         : 100%;
  height        : fit-content;
  display       : flex;
  flex-direction: column;
  overflow-y    : hidden;
  padding-bottom: 60px;
  margin-top    : 15px;
}

.inner-wrapper {
  display       : flex;
  flex-direction: row;
  height        : 200px;
}

.similarMovies {
  height  : 100%;
  width   : 30vw;
  position: relative;
  margin  : 5px;
}

.similarMedia-content {
  overflow-x    : scroll;
  height        : 280px;
  display       : flex;
  flex-direction: column;
}

.btn-wrapper {
  padding   : 10px 0 0 0;
  align-self: flex-end;
}

.closeModal {
  line-height: 0;
}

@media only screen and (max-width:600px) {
  .info-wrapper {
    flex-direction: column;
    height        : auto;
  }

  .card-image {
    align-self: center;
  }

  .similarMedia {
    justify-content: flex-end;
  }

  .modal-info {
    overflow: scroll;
  }

}