.modal-info {
  position        : fixed;
  background-color: var(--color-BG);
  width           : 90%;
  height          : 95%;
  top             : 2.5%;
  left            : 5%;
  z-index         : 501;
  padding         : 10px;
  display         : flex;
  max-height      : 100%;
  flex-direction  : column;
  overflow-y      : scroll;
}

.info-wrapper {
  display      : flex;
  margin-bottom: 1rem;
}

.card-image {
  margin   : 5px;
  width    : 100%;
  max-width: 300px;
  min-width: 250px;
}

.card-image img {
  width: 100%;
}

.movie-info-wrap {
  margin-left: 20px;
}

.releaseDate {
  font-size: 16px;
}

.card-main-title {
  text-align : center;
  font-size  : 30px;
  font-weight: 600;
  margin-top : 0;
}

.ratingAdd {
  display    : flex;
  align-items: center;
}

/* .ratingAdd p {
  margin-right: 30px;
} */

.material-icons:hover {
  cursor: pointer;
}

.genre {
  align-items: center;
}

.ratingAdd,
.genre,
.overwiev {
  border-top: 1px solid var(--color-horLine);
}

.ratingAdd .popularity,
.ratingAdd .votes {
  margin-left: 20px;
}

.collectionActions {
  justify-content: left;
  height         : 3em;
}

.card-inner-title {
  font-size: 16px;
}

.card-inner-title span {
  margin-left: 10px;
  font-size  : 14px;
}

.btn_addMedia {
  background-color                  : var(--color-btnAddMedia);
  border                            : var(--color-btnAddMedia) 1px solid;
  border-radius                     : 4px;
  color                             : #fff !important;
  cursor                            : pointer;
  display                           : inline-block;
  font-family                       : Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
  font-size                         : 11px;
  line-height                       : 1em;
  opacity                           : 1;
  padding                           : 6px 12px 6px 12px;
  position                          : relative;
  text-align                        : left;
  text-decoration                   : none !important;
  -webkit-transition-duration       : .3s;
  transition-duration               : .3s;
  transition-property               : all;
  -webkit-transition-property       : all;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function        : ease-in-out;
  vertical-align                    : middle;
}

.modal-error-message {
  margin-left: 10px;
  color      : var(--color-tableDropped);
  font-weight: 700;
}

.modal .modal-content {
  padding-bottom: 0;
}

.modal-wrapper {
  position        : absolute;
  top             : 50%;
  left            : 50%;
  transform       : translateX(50%);
  transform       : translateY(50%);
  z-index         : 110;
  background-color: var(--color-BG);
}

.card-info {
  font-size: 14.5px;
}

.similarMedia-title .card-info {
  margin: 10px 0;
}

.rating {
  font-size: 18px;
}

.trailer {
  display        : flex;
  justify-content: space-evenly;
}

.similar-movies-wrapper {
  width         : 100%;
  height        : fit-content;
  display       : flex;
  flex-direction: column;
  overflow-y    : hidden;
  padding-bottom: 60px;
  margin-top    : 15px;
}

.inner-wrapper {
  display       : flex;
  flex-direction: row;
  height        : 200px;
}

.similarMovies {
  height  : 100%;
  width   : 30vw;
  position: relative;
  margin  : 5px;
}

.similarMedia-content {
  overflow-x    : scroll;
  height        : 280px;
  display       : flex;
  flex-direction: column;
}

.btn-wrapper {
  padding   : 10px 0 0 0;
  align-self: flex-end;
}

.closeModal {
  line-height: 0;
}

@media only screen and (max-width:600px) {
  .info-wrapper {
    flex-direction: column;
    height        : auto;
  }

  .card-image {
    align-self: center;
  }

  .similarMedia {
    justify-content: flex-end;
  }
}