.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  margin-right: 0;
}

.card-action {
  height: 200px;
  width : inherit;
}

.inner-wrapper .card-action {
  width : 130px;
  margin: 0 5px;
  cursor: pointer;
}

.similarMovie-img {
  height: 75%;
}

#modal1 .inner-wrapper div a {
  color: grey;
}

.similarMovie-title {
  font-size: 12px;
}