.MovieIcon {
  line-height: inherit;
  margin: 0 15px;
}

nav ul {
  padding: 0 15px;
}

.tabs {
  display: flex;
  justify-content: space-around;
}

.activeNavLinks {
  background-color: #0c4091;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo.center {
    left: 15px;
  }
}