.Categories-wrapper {
  margin-left: 15px;
}

.inner {
  position: sticky;
  top     : 20px;
}

/* Divided categories */
.media-side-nav {
  display       : flex;
  flex-direction: column;
}

.main-categirie {
  text-transform: capitalize;
  font-size     : 1.3rem;
}

/* .main-categirie:hover {
  color: #cfd8dc !important;
} */

.main-categirie ul {
  margin-top   : 0;
  margin-bottom: 30px;
}

.categories-wrap {
  margin-left: 15px;
  cursor     : pointer;

}

.categories-wrap a {
  margin    : 2px 0;
  font-size : 1rem;
  color     : var(--color-textInner);
  transition: color 200ms ease-in-out;
}


.categories-wrap a:hover {
  color: #039be5;
}

.categories-wrap .activeNav {
  color: #039be5;
}

@media only screen and (max-width:481px) {
  .Categories-wrapper {
    margin-left: 15px;
  }

  .categories-wrap {
    display       : flex;
    flex-direction: row;
    margin-left   : 0;
  }

  .categories-wrap a {
    display       : flex;
    flex-direction: row;

    margin-right: 10px;
  }
}