.similarMedia-wrapper {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
}

/* .similarMedia {
  height: 40%;
} */

.similarMedia-wrapper {
  display: flex;
  flex-direction: column;
}

.similarMedia-title {
  text-transform: uppercase;
  text-align: center;
}