.similarMedia-wrapper {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
}

/* .similarMedia {
  height: 40%;
} */

.similarMedia-wrapper {
  display       : flex;
  flex-direction: column;
}

.similarMedia-title {
  text-transform: uppercase;
  text-align    : center;
}

.BrainhubCarousel__container {
  height: 200px;
}

.BrainhubCarousel {
  height: inherit;
}

ul.BrainhubCarousel__track.BrainhubCarousel__track--transition.BrainhubCarousel__track--draggable {
  transform: translateX(0);
  height   : 200px;
}

li.BrainhubCarouselItem.BrainhubCarouselItem--clickable.BrainhubCarouselItem--active {
  height: inherit;
  width : auto;
}