.sideMenu {
  position        : absolute;
  top             : 0;
  left            : 0;
  width           : 35%;
  height          : 100%;
  background-color: var(--color-activeLinks);
  display         : none;
  z-index         : 6;
  flex-direction  : column;
}

.sideMenu ul#nav-mobile {
  display              : grid;
  grid-template-columns: repeat(2, 1fr);
  gap                  : 10px;
}

.sideMenu li.collectionLink {
  grid-row   : 3/4;
  grid-column: 1/2;
  padding    : 5px 0;
}

.sideMenu li.collectionLink a,
.sideMenu li.signup a,
.sideMenu li.login a,
.sideMenu li.logout a {
  color     : var(--color-textInner);
  transition: color 200ms ease-in-out;
}

.sideMenu li.collectionLink a:hover,
.sideMenu li.signup a:hover,
.sideMenu li.login a:hover,
.sideMenu li.logout a:hover,
.sideMenu li.collectionLink .activeNav {
  color: var(--color-activeLinksText);
}

.sideMenu li.signup {
  grid-row   : 2/3;
  grid-column: 2/3;
}

.sideMenu li.login {
  grid-row   : 1/2;
  grid-column: 2/3;
}

.sideMenu li.logout {
  grid-row   : 5/6;
  grid-column: 1/3;
}


.sideMenu li.initials {
  grid-row   : 1/2;
  grid-column: 2/3;
}

.sideMenu li.signup,
.sideMenu li.login,
.sideMenu li.logout,
.sideMenu li.initials {
  justify-self: right;
}


.sideMenu ul#nav-mobile .categories-wrapper {
  grid-row   : 5/4;
  grid-column: 1/3;
}

/* categories in sideMenu */
.sideMenu ul#nav-mobile .main-categirie,
.sideMenu li.collectionLink {
  font-size: 1.2rem;
}

.sideMenu ul#nav-mobile .main-categirie li a {
  font-size: 1rem;
}


@media (max-width: 768px) {
  .sideMenu {
    display: flex;
  }

  .sideMenu ul#nav-mobile {
    position: sticky;
    top     : 14px;
  }
}

@media (max-width: 481px) {
  .sideMenu {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .sideMenu {
    width: 70%;
  }
}

@media (max-width: 375px) {
  .sideMenu {
    width: 85%;
  }
}

@media (max-width: 320px) {
  .sideMenu {
    width: 100%;
  }
}

.sideMenuAnimate-enter {
  transform: translateX(-100%);
  opacity  : 0.01;
}

.sideMenuAnimate-enter-active {
  opacity   : 1;
  transform : translateX(0);
  transition: all 300ms ease-in;
}

.sideMenuAnimate-exit {
  opacity  : 1;
  transform: translateX(0);
}

.sideMenuAnimate-exit-active {
  opacity   : 0.01;
  transform : translateX(-100%);
  transition: all 300ms ease-in;
}