.input-field {
  margin-top   : 0.6rem;
  margin-bottom: 0.6rem;
  width        : 80%;
}

.input-field label.active {
  margin-bottom: 0.6rem;
}

input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=password]:not(.browser-default) {
  border-radius: 5px;
  font-size    : 14px;
  height       : 2rem;
  box-shadow   : none;
  border       : none;
  color        : var(--color-textTitle);
  border-bottom: 1px solid var(--color-horLine-userInput);
  transition   : box-shadow .3s, border .3s;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--color-activeLinksText);
  box-shadow   : 0 1px 0 0 var(--color-activeLinksText);
}



input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=password]:not(.browser-default),
.input-field label {
  padding-left: 15px;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #000000;
}

form div.input-field input.Invalid {
  border: 1px solid var(--color-tableDropped);

}

.input-field button.btn.sign {
  border-radius   : 5px;
  background-color: var(--color-scrollThumb);
  transition      : background-color 300ms ease-in-out;
}

.input-field button.btn.sign:hover {
  background-color: var(--color-activeLinks);
}