.movie-grid-item {
  width : 100%;
  height: 100%;
}

.item-wrapper {
  padding         : 5px;
  width           : 100%;
  height          : inherit;
  background-color: whitesmoke;
}

.item-image-container {
  position: relative;
  height  : inherit;
}

.item-image-container .card-title {
  background-image      : url(../../../../assets/images/card/image_box_shadow_bottom.png);
  background-position   : left bottom;
  background-repeat     : no-repeat;
  background-size       : 100% 100%;
  bottom                : 0;
  color                 : #fff;
  display               : inline-block;
  font-family           : Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
  font-size             : 11px;
  left                  : 0;
  line-height           : 1.2em;
  padding               : 15px 5px 5px;
  /* width              : calc(100% - 5px - 5px); */
  width                 : 100%;
  position              : absolute;
  text-shadow           : rgba(0, 0, 0, .8) 1px 1px 0
}

.card-link {
  height: inherit;
}

.singleImg {
  background-size  : cover;
  background-repeat: no-repeat;
  height           : inherit;
}

@media (max-width:300px) {
  .item-image {
    min-height: 30vw;
  }

  .card-title {
    font-size: 12px;
  }

  .modal-trigger {
    width      : 50px;
    height     : 30px;
    font-size  : 10px;
    padding    : 0;
    line-height: 0;
    margin-top : 5px;
  }
}

/* @media (max-width:1550px) {
  .item-image {
    min-height: 340px;
    max-height: 400px;
  }
}


@media (max-width:1250px) {
  .item-image {
    min-height: 270px;
    max-height: 370px;
  }
}

@media (max-width:1025px) {
  .item-image {
    min-height: 370px;
    max-height: 420px;
  }
}

@media (max-width:801px) {
  .item-image {
    min-height: 300px;
    max-height: 350px;
  }
}

@media (max-width:641px) {
  .item-image {
    min-height: 150px;
    max-height: 300px;
  }
}

@media only screen and (max-width:481px) {
  .item-image {
    min-height: 220px;
    max-height: 310px;
  }
} */

.card-imagePoster img {
  width: 100%;
}

.card-title {
  align-self: center;

}