.movie-grid-item {
  width: 100%;
  height: -webkit-fill-available;
}

.item-wrapper {
  padding: 5px;
  width: 100%;
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: auto 35px 35px;
  max-height: 40%;
}



.item-image {
  width: 100%;
  min-height: 400px;
  height: 100%;
  cursor: pointer;
}

@media (min-width:300px) {
  .item-image {
    min-height: 30vw;
  }

  .card-title {
    font-size: 12px;
  }

  .modal-trigger {
    width: 50px;
    height: 30px;
    font-size: 10px;
    padding: 0;
    line-height: 0;
    margin-top: 5px;
  }
}

@media (min-width:1025px) {
  .item-image {
    min-height: 30vw;
  }
}

.card-imagePoster img {
  width: 100%;
}

.card-title {
  align-self: center;

}