.movie-grid-item {
  width: 100%;
  height: -webkit-fill-available;
}

.item-wrapper {
  padding: 5px;
  width: 100%;
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: auto 70px 35px;
  max-height: 40%;
}



.item-image {
  width: 100%;
  min-height: 400px;
  height: 100%;
  cursor: pointer;
}

@media (max-width:300px) {
  .item-image {
    min-height: 30vw;
  }

  .card-title {
    font-size: 12px;
  }

  .modal-trigger {
    width: 50px;
    height: 30px;
    font-size: 10px;
    padding: 0;
    line-height: 0;
    margin-top: 5px;
  }
}

@media (max-width:1550px) {
  .item-image {
    min-height: 340px;
    max-height: 400px;
  }
}


@media (max-width:1250px) {
  .item-image {
    min-height: 270px;
    max-height: 370px;
  }
}

@media (max-width:1025px) {
  .item-image {
    min-height: 370px;
    max-height: 420px;
  }
}

@media (max-width:801px) {
  .item-image {
    min-height: 300px;
    max-height: 350px;
  }
}

@media (max-width:641px) {
  .item-image {
    min-height: 150px;
    max-height: 300px;
  }
}

@media only screen and (max-width:481px) {
  .item-image {
    min-height: 220px;
    max-height: 310px;
  }
}

.card-imagePoster img {
  width: 100%;
}

.card-title {
  align-self: center;

}