.MovieIcon {
  line-height   : inherit;
  /* margin     : 0 15px; */
}

nav {
  background-color: var(--color-mainBG);
  box-shadow      : none;
}

nav .nav-wrapper {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  background-color: var(--color-scrollThumb);
  box-shadow      : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


/* Hamburger menu styles */
.hamburger-container {
  position   : relative;
  cursor     : pointer;
  display    : none;
  align-items: center;
  height     : 100%;
}


.hamburger-container:hover .hamburger,
.hamburger-container:hover .hamburger:before,
.hamburger-container:hover .hamburger:after {
  background-color: var(--color-textHover);
}

.hamburger,
.hamburger:before,
.hamburger:after {
  content         : '';
  width           : 2rem;
  height          : 2px;
  border-radius   : 5px;
  background-color: var(--color-textTitle);
  transition      : all 200ms ease-in-out;
}

.hamburger:before,
.hamburger:after {
  position: absolute;
}

.hamburger:before {
  transform: translateY(-7px);
}

.hamburger:after {
  transform: translateY(7px);
}

.hamburger-active {
  transform: rotate(-45deg);
  z-index  : 7;
}

.hamburger-active:before {

  transform: rotate(0deg);
  opacity  : 0;
}

.hamburger-active:after {

  transform: rotate(90deg);
}


.nav-right-links {
  display        : flex;
  justify-content: flex-end;
  align-items    : center;
}

ul#nav-mobile {
  min-width      : fit-content;
  display        : flex;
  justify-content: flex-end;
}

#nav-mobile li:last-child a {
  margin-right: 0;
}

.tabs {
  display        : flex;
  justify-content: space-around;
}

.activeNavLinks {
  background-color: #0c4091;
}

nav .brand-logo {
  position: relative;
}

nav .brand-logo.center {
  left     : 0;
  transform: translateX(0);
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left     : 0;
    transform: translateX(0);
  }

  /* nav .brand-logo.center {
    left: 15px;
  } */
}

@media (max-width: 768px) {

  /* Hamburger menu styles */
  .hamburger-container {
    display: flex;
  }

  nav .brand-logo.center {
    position : absolute;
    left     : 50%;
    transform: translateX(-50%);
  }

  .nav-right-links .searchField {
    margin-right: 0;
    width       : 65%;
  }

  .nav-right-links ul#nav-mobile {
    display: none;
  }
}

@media (max-width: 375px) {
  nav .nav-wrapper .brand-logo.center.MovieIcon {
    left: 92.5%;
  }

  .nav-right-links {
    justify-content: unset;
  }
}