.paginate {
  cursor : pointer;
  display: flex;
  margin : 0;
}

.paginateBottom {
  cursor         : pointer;
  display        : flex;
  justify-content: flex-end;
  margin         : 0;
}

.paginateA {
  color: #e0e0e0;
}

a.paginateA:active,
a.paginateA:focus {
  outline: 0;
}

.paginateLi {
  padding: 0 3px;
}

.paginateActiveA,
.paginateA:hover {
  color: #039be5;
}


@media (max-width: 375px) {
  .paginate {
    align-self: flex-end;
  }
}